// Color
$primary: #b21980;
$black: #191919;
$white: #fff;
$gray: #dcd1f3;

// text color
$text-primary: $primary;
$text-black: $black;
$text-white: $white;
$text-gray: $gray;

// background color
$bg-primary: $primary;
$bg-black: $black;
$bg-white: $white;
$bg-gray: $gray;

// font size
$fs-1xl: 11.25px;
$fs-2xl: 13px;
$fs-3xl: 13.5px;
$fs-4xl: 14.5px;
$fs-5xl: 15px;
$fs-6xl: 16.5px;
$fs-7xl: 23.25px;
$fs-8xl: 37.5px;
$fs-9xl: 57px;

// font weight
$fw-light: 300;
$fw-normal: 500;
$fw-semi: 600;
$fw-bold: 700;

// line height
$lh-1: 13.5px;
$lh-2: 19.8px;
$lh-3: 27px;
$lh-4: 27.9px;
$lh-5: 38px;
$lh-6: 45px;
$lh-7: 68.5px;
$lh-8: 80px;

// font family
$font-family-Montserrat: "Montserrat", sans-serif;
$font-family-Roboto: "Roboto", sans-serif;
